.btn-portfolio-grid {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 8px;
}
@media #{$tablet} {
  .btn-portfolio-grid {
    margin-bottom: 30px;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
@media #{$desktop} {
  .btn-portfolio-grid {
    margin-bottom: 50px;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
