.body {
  font-family: $fontFamilyMain;
  color: getColor("primary");
}
.container {
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media #{$tablet} {
  .container {
    max-width: 768px;
  }
}
@media #{$desktop} {
  .container {
    max-width: 1200px;
  }
}
