.newsletter {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  &__input {
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-top: 20px;
    background-color: #2f303a;
    padding-left: 16px;
    font-size: $fontSizeBig;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: getColor("accentLight");
    transition: $trasBorder;
    &::placeholder {
      font-size: $fontSizeBig;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 450px;
    font-weight: 700;
    font-size: $fontSizeSmoll;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("accentLight");
    transition: $trensColor;
    &:hover,
    &:focus-within {
      color: getColor("accent");
      .newsletter__input {
        border: 1px solid getColor("accent");
      }
    }
  }
  &__btn {
    @extend .btn;
    margin: 0 auto;
    text-align: left;
    padding-left: 42px;
    position: relative;
    &::after {
      width: 24px;
      content: "";
      height: 24px;
      position: absolute;
      top: 13px;
      left: 148px;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='icon send' d='M24 0L0 13.5L7.66994 16.3407L19.5 5.25002L10.5017 17.3896L10.509 17.3923L10.5 17.3896V24.0001L14.8013 18.982L20.2501 21.0001L24 0Z' fill='white'/%3E%3C/svg%3E");
      transition: $transBgColor;
    }
    &:hover::after {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='icon send' d='M24 0L0 13.5L7.66994 16.3407L19.5 5.25002L10.5017 17.3896L10.509 17.3923L10.5 17.3896V24.0001L14.8013 18.982L20.2501 21.0001L24 0Z' fill='black'/%3E%3C/svg%3E");
    }
  }
}
@media #{$tablet} {
  .newsletter {
    &__label {
      max-width: 768px;
    }
  }
}
@media #{$desktop} {
  .newsletter {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-top: 0;
    justify-content: space-between;
    align-items: flex-end;
    width: 570px;
    padding-bottom: 25px;
    &__label {
      max-width: 358px;
      min-width: 358px;
      margin-bottom: 0;
    }
    &__btn {
      margin: 0;
    }
  }
}
