.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}
.product-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media #{$tablet} {
  .product-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media #{$desktop} {
  .product-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
