.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    margin-bottom: 50px;
    font-size: $fontSizeTitle;
    letter-spacing: 0.03em;
    text-align: center;
    line-height: 1.2;
  }
}
