.socialmedia-icon-item {
  fill: #afb1b8;
  transition: $trensFill;
  margin: auto;
}
.socialmedia-icons {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: $transBgColor;
  &:hover,
  &:focus {
    background-color: getColor("accent");
  }
  &:hover,
  &:focus {
    .socialmedia-icon-item {
      fill: getColor("accentLight");
    }
  }
}
