.team {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media #{$tablet} {
  .team {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media #{$desktop} {
  .team {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
