$colors: (
  "primary": #212121,
  "secondary": #757575,
  "third": #f5f4fa,
  "accent": #2196f3,
  "accentLight": #ffffff,
  "accentDark": #000000,
);
@function getColor($key) {
  @return map-get($colors, $key);
}
$fontFamilyMain: "Roboto", sans-serif;
$fonttFamilyLogo: "Raleway", sans-serif;
$fontSizeBigger: 18px;
$fontSizeBig: 16px;
$fontSizeSmoll: 14px;
$fontSizeTitle: 36px;
$transBgColor: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$trensColor: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$trasBorder: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
$trensFill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transVisibility: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transOpacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transTransform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
